<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.plainpub.videomanager.repository.IVideoRepository">

    <select id="getAllTag" resultType="Tag">
        SELECT id, name, created_time as createdTime, updated_time as updatedTime
        FROM tag
    </select>

    <select id="getTag" resultType="Tag">
        SELECT id, name, created_time as createdTime, updated_time as updatedTime
        FROM tag
        WHERE id =#{id}
    </select>


</mapper>